body {
    text-align: center;
    position: relative;
    align-content: center;
}

#title {
    margin: 9px;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
}

#moves {
    position: absolute;
    top: 550px;
    left: 35%;
    padding-top: 8px;
    transform: translate(-50%, 0);
    width: 150px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 4px rgba(228, 212, 212, 0.842);
}
#highscore{
    position: absolute;
    top: 550px;
    left: 65%;
    padding-top: 8px;
    transform: translate(-50%, 0);
    width: 150px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 4px rgba(228, 212, 212, 0.842);
}

#overContainer {
    top: 100px;
    width: 424px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    /* background-color: black; */
    padding: 0px;
    display: inline-block;
    /* display: none; */
}

#container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 424px;
    height: auto;
    /* background-color: black; */
    padding: 0px;
    display: inline-block;
    /* display: none; */
}

#congrats {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    height: auto;
    padding: 0px 30px;
    background-color: red;
    opacity: 0;
    display: none;
}

p {
    font-size: 4vw;
    font-family: cursive;
    text-align: center;
}

.overBlock {
    width: 100px;
    height: 100px;
    background-color: saddlebrown;
    margin: 3px;
    float: left;
}

.block {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 3px;
    float: left;
}

.hide {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 3px;
    float: left;
}

